{
    "parser": "babel-eslint",
    "extends": [
        "airbnb/base",
        "plugin:react/recommended",
        "plugin:jest/recommended"
    ],
    "plugins": [
        "react",
        "import"
    ],
    "rules": {
        "react/prop-types": [2],
        "no-console": "off"
    },
    "settings": {
        "react": {
            "createClass": "createReactClass",
            "pragma": "React",
            "version": "16.5.20"
        }
    }
}
