@font-face {
  font-family: "HelveticaNeue";
  src: url('../../assets/fonts/HelveticaNeue-Roman.eot');
  src:
    url('../../assets/fonts/HelveticaNeue-Roman.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/HelveticaNeue-Roman.woff') format('woff'),
    url('../../assets/fonts/HelveticaNeue-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

.body,
input,
button {
  font-family: HelveticaNeue, Arial, sans-serif;
}

.body {
  width: 100%;
}
