.wrapper {
  display: grid;
  grid-template: 100px 1fr 200px/1fr 1fr;
  position: relative;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  margin-bottom: 38px;
}

.image {
  width: inherit;
}

.topShadow {
  position: absolute;
  width: inherit;
  height: 100px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.bottomShadow {
  width: inherit;
  position: absolute;
  bottom: 0;
  height: 200px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.filmsLabel {
  margin-left: 70px;
  margin-top: 15px;
  z-index: 999;
  color: white;
  font-size: 25px;
  text-align: left;
}

.searchBox {
  z-index: 999;
  text-align: right;
}

.searchInput {
  border: 2px solid white;
  border-radius: 6px;
  color: white;
  font-size: 14px;
  padding-left: 10px;
  outline: 0;
  width: 270px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0);
  margin-right: 60px;
  margin-top: 15px;
  background-image: url(../../assets/images/Search.svg) no-repeat scroll 245px 6px;
  background-size: 20px 20px;
}

.searchInput::placeholder {
  color: white;
}

.infoBox {
  z-index: 999;
  grid-row: 3/4;
  margin-left: 70px;
  margin-top: 70px;
}

.movieName {
  color: #fff;
  font-size: 30px;
  text-align: left;
  font-weight: bold;
}

.genresBox {
  color: #fff;
  font-size: 12px;
  margin-top: 6px;
}

.item {
  display: inline-block;
  margin-right: 10px;
}

.star {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.9em;
  margin-right: 0.9em;
  margin-bottom: 1.2em;
  border-right: 0.3em solid transparent;
  border-bottom: 0.7em  solid #0aaee4;
  border-left: 0.3em solid transparent;
  font-size: 10px;

  &::before,
  &::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 0.6em;
    left: -1em;
    border-right: 1em solid transparent;
    border-bottom: 0.7em  solid #0aaee4;
    border-left: 1em solid transparent;
    transform: rotate(-35deg);
  }

  &::after {
    transform: rotate(35deg);
  }
}

.starBox {
  display: inline-block;
}

.rating {
  position: absolute;
  display: inline-block;
  margin-left: 5px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  border-radius: 3px;
  border: 2px solid #0aaee4;
  width: 28px;
  height: 16px;
}

.ratingBox {
  position: relative;
  margin-top: 23px;
}

.descBox {
  grid-row: 3/4;
  z-index: 999;
  height: 300px;
  justify-self: end;
  justify-items: right;
  align-items: end;
  margin-right: 10px;
}

.description {
  background-color: rgba(0, 0, 0, 0.64);
  width: 230px;
  height: 100px;
  padding: 15px;
  margin-bottom: 23px;
  margin-left: 50px;
}

.textWrapper {
  font-size: 13px;
  color: white;
  line-height: 1.6em;
  height: 100px;
  overflow: hidden;
}

.watchNowButton {
  font-size: 14px;
  color: white;
  border: 0;
  border-radius: 3px;
  background-color: #3bb4e0;
  width: 100px;
  height: 30px;
  margin-right: 21px;
}

.viewInfoButton {
  font-size: 14px;
  color: white;
  border-radius: 3px;
  border: 1px solid white;
  width: 100px;
  height: 28px;
  background-color: rgba(255, 255, 255, 0);
  align-content: center;
  margin-right: 70px;
}
