.copyright {
  color: rgba(36, 43, 45, 0.4);
  font-size: 12px;
  text-align: center;
}

.logo {
  color: #09aee4;
  font-size: 25px;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 40px;
}
