.copyrate {
  color: rgba(36, 43, 45, 0.4);
  font-size: 12px;
  text-align: center;
}

.films {
  color: #09aee4;
  font-size: 25px;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 40px;
}

.loading {
  color: rgba(36, 43, 45, 0.4);
  font-size: 11px;
  text-align: center;
  margin-top: 10px;
}

.circles {
  align-items: center;
  justify-content: center;
  justify-items: center;
  display: grid;
  height: 10px;
  grid-template-columns: 10px 10px 10px;
  margin-top: 60px;
}

.circleM {
  display: inline-block;
  background-color: #09aee4;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.circleB {
  display: inline-block;
  background-color: #09aee4;
  width: 9px;
  height: 9px;
  border-radius: 50%;
}

.circleS {
  display: inline-block;
  background-color: #09aee4;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
